<section style="margin-left: 30%">
  <div class="search">
    <h1 class="pt-4" style="font-size: 3.5rem">Secretária</h1>

    <div class="input-group w-50">
      <div class="input-group-prepend"></div>
      <input type="text" class="form-control" />

      <button class="btn btn-primary ml-2" type="submit">Pesquisar</button>
    </div>
  </div>

  <div class="card mt-2" *ngFor="let ficha of fichas | async">
    <nav
      class="navbar navbar-dark bg-dark"
      style="width: 50%; border-radius: 5px"
    >
      
      <h1 class="navbar-brand">{{ ficha.nomeBen }}</h1>
      <h1 class="navbar-brand" *ngIf="selectedItem"> {{ selectedItem.Classificacao }} </h1>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        [attr.data-target]="'#ex' + ficha.key"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" [attr.id]="'ex' + ficha.key">
        <ul class="navbar-nav mr-auto text-light">
          <li class="nav-item active">
            ID do beneficiário:
            <strong>
              {{ ficha.idBen }}
            </strong>
          </li>

          <li class="nav-item active">
            <strong>
              {{ ficha.nConselhoP }}
            </strong>
          </li>

          <li class="nav-item">
            CPF do beneficiário:
            <strong>
              {{ ficha.cpf }}
            </strong>
          </li>
          <li class="nav-item active">
            Nome do procedimento:

            <strong>
              {{ ficha.proced }}
            </strong>
          </li>

          <br />

          <h3>Dados do cooperado</h3>
          <li class="nav-item active">
            número de conselho (cooperado):
            <strong>
              {{ ficha.nConselhoC }}
            </strong>
          </li>
          <li class="nav-item active">
            codigo
            <strong>
              {{ ficha.codigoMaterial }}
            </strong>
          </li>
        </ul>

        <button type="button" class="btn btn-primary">
          Enviar p/ avaliador
        </button>

        <button type="button" class="btn btn-primary">
          Acesso ao prontuário eletrônico
        </button>

        <!-- <button
          type="button"
          class="btn btn-primary"
          (click)="showCode(ficha.codigoMaterial)"
        >
          Acessar código referente ao paciente
        </button> -->
        <div *ngIf="selectedItem">
          <h2>details item</h2>
          <p>Código {{ selectedItem.Codigo }}</p>
          <p>Descrição {{ selectedItem.Descricao }}</p>
          <p>
            Classificação:
            {{ selectedItem.Classificacao }}
          </p>
          <p>
            Descricao
            {{ selectedItem.Descricao }}
          </p>
          <p>
            Executora
            {{ selectedItem.Executora }}
          </p>
          <p>
            Origem
            {{ selectedItem.Origem }}
          </p>
          <p>
            Porte
            {{ selectedItem.Porte }}
          </p>
          <p>Qtde Ut {{ selectedItem.QtdeUt }}</p>
          <p>
            Quantidade
            {{ selectedItem.Quantidade }}
          </p>
          <p>
            TISSTipoDeTabela
            {{ selectedItem.TISSTipoDeTabela }}
          </p>
          <p>
            Total
            {{ selectedItem.Total }}
          </p>
          <p>
            AM8
            {{ selectedItem.AM8 }}
          </p>
        </div>
      </div>
    </nav>

    <div class="collapse navbar-collapse" id="ex"></div>
  </div>
</section>