<section style="background-color: #f2f2f2;">
  <div class="row container-fluid">
      <div class="col-2">
        <div class="sidebar-opener" (click)="sidebarShow = !sidebarShow">
          <img src="" alt="">
            </div>
          <div>
            <div class="sidebar-content">
              <img src="../../../assets/image.png" class="w-100" alt=""  style="margin-bottom: 30%;">
              <div style="background-color: #009557; padding: 4% 10% 4% 10%;  border-radius: 10px; margin-top: 5%; margin-bottom: 5%;"><img style="margin-right:10%;" src="../../../assets/i.png" width="20%" alt=""><a style="color: #ffffff;" href="secUni">Pacientes</a></div>
              <div style="margin-bottom: 5%;"><img style="margin-left: 20%;" src="../../../assets/i2.png" width="15%" alt=""><a style="color: #000000;" href="orc">Orçamento</a></div>
              <div style="margin-bottom: 5%;"><img src="../../../assets/i3.png" width="30%" alt="">Suporte</div>
              <div style="position: fixed; margin-top: 75%;"><img src="../../../assets/i4.png" width="30%" alt="">Nome secretario(a)</div>
          </div>
          </div>
      </div>
          <div class="col-10" style="background-color: #ffffff; border-radius: 30px; padding: 3%;">
            <div class="search" style="margin-left: 15%;">
              <h1 class="pt-4" style="font-size: 3.5rem;">Secretária</h1>
    
              <div class="input-group w-50">
                <button class="btn btn-primary ml-2" type="submit" style="text-align: center;">Pesquisar</button>
                <div class="input-group-prepend"></div>
                <input type="text" class="form-control" />   
    
    
              </div>
            </div>
           <div style="background-color: #ffffff; border-radius: 30px; padding: 4%; margin-left: 10%;">
              <div class="card mt-2" *ngFor="let ficha of fichas | async" style="background-color: rgb(255, 255, 255);" >
                <nav
                  class="navbar navbar-light bg-light"
                  style="border-radius: 5px;"
                >
                  <h1 class="navbar-brand">{{ ficha.nomeBen }}</h1>
                  <h1 class="navbar-brand">{{ ficha.idBen }}</h1>
                  <h1 class="navbar-brand">{{ ficha.cpf }}</h1>
                  <h1 class="navbar-brand">{{ ficha.proced }}</h1>
                  <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    [attr.data-target]="'#ex' + ficha.key"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                  >
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" [attr.id]="'ex' + ficha.key">
                    <ul class="navbar-nav mr-auto text-dark">
                      <li class="nav-item active">
                        ID do beneficiário:
                        <strong>
    
                            {{ ficha.idBen }}
    
                        </strong>
                      </li>
                      <li class="nav-item active">
                        <strong>
                          {{ ficha.nConselhoP }}
                        </strong>
                      </li>
                      <li class="nav-item">
                        CPF do beneficiário:
                        <strong>
    
                            {{ ficha.cpf }}
    
                        </strong>
                      </li>
                      <li class="nav-item active">
                        Nome do procedimento:
                        <strong>
                          {{ ficha.proced }}
                        </strong>
                      </li>
                      <br>
                      <h3>Dados do cooperado</h3>
                      <li class="nav-item active">
                        número de conselho (cooperado):
                        <strong>
                          {{ ficha.nConselhoC }}
                        </strong>
                      </li>
                    </ul>
    
                    <button type="button" class="btn btn-primary" style="margin-right: 5%; margin-top: 2%;">
                      Enviar p/ avaliador
                    </button>
                    <button type="button" class="btn btn-primary">
                      Acesso ao prontuário eletrônico
                    </button>
                  </div>
                </nav>
                <div class="collapse navbar-collapse" id="ex"></div>
              </div>
          </div>
      </div>
  </div>
  </section>
  