<section style="background-color: #B5B7C0;">
  <div class="row">
    <div class="col-2">
      <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" >
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <svg class="bi me-2" width="0" height="100%"><use xlink:href="#bootstrap"></use></svg>
          <img class="w-100" src="../../../assets/image.png" alt="">
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="#" class="nav-link" style="background-color: #009557; color: #ffffff; border-radius: 8%; margin-bottom: 20%;" aria-current="page">
              <img style="width: 15%; margin: 2%;" src="../../../assets/i.png" alt=""> Pacientes
            </a>
          </li>
          <li>
            <a href="#" class="nav-link" style="background-color: #FFFFFF; color: #8D8E92; border-radius: 8%; margin-bottom: 5%;" aria-current="page">
              <img style="width: 15%; margin: 2%;" src="../../../assets/i2.png" alt=""> Orçamento  <span style="margin-left: 20%;">></span>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link" style="background-color: #FFFFFF; color: #8D8E92; border-radius: 8%; margin-bottom: 303%;" aria-current="page">
              <img style="width: 15%; margin: 2%;" src="../../../assets/i3.png" alt=""> Suporte  <span style="margin-left: 45%;">></span>
            </a>
          </li>
        </ul>
        <hr>
        <div class="dropdown">
          <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
        </div>
        <div class="col-10">
          <div class="search">
            <h1 class="pt-4" style="font-size: 3.5rem;">Secretária</h1>
        
            <div class="input-group w-50">
              <div class="input-group-prepend"></div>
              <input type="text" class="form-control" />
        
              <button class="btn btn-primary ml-2" type="submit" style="text-align: center;">Pesquisar</button>
            </div>
          </div>
        
          <div class="card mt-2" *ngFor="let ficha of fichas | async" style="background-color: rgb(0, 136, 255); width: 50%;">
            <nav 
              class="navbar navbar-light bg-light"
              style="border-radius: 5px;"
            >
              <h1 class="navbar-brand">{{ ficha.nomeBen }}</h1>
        
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                [attr.data-target]="'#ex' + ficha.key"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
        
              <div class="collapse navbar-collapse" [attr.id]="'ex' + ficha.key">
                <ul class="navbar-nav mr-auto text-dark">
                  <li class="nav-item active">
                    ID do beneficiário: 
                    <strong>
                      
                        {{ ficha.idBen }}
                       
                    </strong>
                  </li>
      
                  <li class="nav-item active">
                    <strong>
                      {{ ficha.nConselhoP }}
                    </strong>
                  </li>
      
                  <li class="nav-item">
                    CPF do beneficiário: 
                    <strong>
                      
                        {{ ficha.cpf }}
                      
                    </strong>
                  </li>
                  <li class="nav-item active">
                    Nome do procedimento:
      
                    <strong>
                      {{ ficha.proced }}
                    </strong>
      
                  </li>
      
                  <br>
      
                  <h3>Dados do cooperado</h3>
                  <li class="nav-item active">
                    número de conselho (cooperado):
                    <strong>
                      {{ ficha.nConselhoC }}
                    </strong>
                  </li>
                </ul>
                
                <button type="button" class="btn btn-primary" style="margin-right: 5%; margin-top: 2%;">
                  Enviar p/ avaliador
                </button>
      
                <button type="button" class="btn btn-primary">
                  Acesso ao prontuário eletrônico
                </button>
        
              </div>
            </nav>
        
            <div class="collapse navbar-collapse" id="ex"></div>
          </div>
        </div>
    </div>
    
  </section>
  