<section>
    
    <h1>Pacientes</h1>
        <div class="card mt-2"
        *ngFor="let ficha of fichas | async">
            <div class="card-body">
                Nº da carteirinha
                <h3>
                    {{ ficha.nCarteira }}
                </h3>
            </div>
            <div class="card-body">
                Nº da Guia
                <h3>
                    {{ ficha.nGuia }}
                </h3>
            </div>
            <div class="card-body">
                OPME
                <h3>
                    {{ ficha.opme }}
                </h3>
            </div>
        </div>
</section>
