<section class="S m-0 p-0" style="height: 100%; width: 320px;">
  <img class="ml-2" src="../assets/image.png" style="width: 100%;">
    <ul class="nav flex-column m-3">
        <li class="nav-item m-1">
          <a 
          class="nav-link disable
          text-light" routerLink="/secUni"
          >Pacientes</a>
        </li>
        <li class="nav-item m-1">
          <a class="nav-link text-light" href="#">Orçamento</a>
        </li>
        <li class="nav-item m-1">
          <a class="nav-link text-light" href="#">Suporte</a>
        </li>
      </ul>
</section>
