<section class="container">
  <h1>Guia de atendimento</h1>
  <p>Comece aqui</p>

  <form (ngSubmit)="onSubmit()">
    <div *ngIf="step === 1" class="id-users form-group">
      <small>Qual o ID do paciente?</small>
      <input
        type="text"
        class="form-control"
        placeholder="ID do beneficiário"
        [(ngModel)]="ficha.nCarteira"
        name="nCarteira"
      />
    </div>

    <div *ngIf="step === 2" class="id-users2 form-group">
      <input
        type="text"
        class="form-control"
        placeholder="Nome do beneficiário"
        [(ngModel)]="ficha.nomeBen"
        name="ficha.nomeBen"
      />

      <input
        type="text"
        class="form-control"
        placeholder="CPF do beneficiário"
        [(ngModel)]="ficha.cpf"
        name="cpf"
      />

      <input
        type="text"
        class="form-control"
        type="text"
        placeholder="Validade da carteira de identificação"
        [(ngModel)]="ficha.validadeCart"
        name="validadeCart"
      />
    </div>

    <div *ngIf="step === 3" class="id-users3 form-group">
      <small> Insira o registro ANS </small>
      <input
        type="text"
        class="form-control"
        placeholder="Número da ANS"
        [(ngModel)]="ficha.ans"
        name="ans"
      />
    </div>

    <div *ngIf="step === 4" class="id-users4 form-group">
      <small> Selecione a unidade de atendimento</small>

      <select class="form-select" aria-label="Default select example" [(ngModel)]="ficha.unidAtend" name="unidAtend">
        <option value="1">Unidade 1</option>
        <option value="2">Unidade 2</option>
        <option value="3">Unidade 3</option>
      </select>

      <input
        type="text"
        class="form-control"
        placeholder="CNPJ"
        [(ngModel)]="ficha.cnpj"
        name="cnpj"
      />
    </div>

    <div *ngIf="step === 5" class="id-users5 form-group">
      <small> Insira os dados do médico solicitado </small>
      <input
        type="text"
        class="form-control"
        placeholder="Nome do solicitado"
        [(ngModel)]="ficha.nomeSolMed"
        name="nomeSolMed"
      />

      <input
        type="text"
        class="form-control"
        placeholder="Conselho Profissional"
        [(ngModel)]="ficha.conselhoPro"
        name="conselhoPro"
      />

      <input
        type="text"
        class="form-control"
        placeholder="Número do conselho"
        [(ngModel)]="ficha.nConselho"
        name="nConselho"
      />
    </div>

    <div *ngIf="step === 6" class="id-users6 form-group">
      <small> Insira os dados do médico </small>
      <input
        type="text"
        class="form-control"
        placeholder="Nome do colaborador"
        [(ngModel)]="ficha.nomeCol"
        name="nomeCol"
      />

      <input
        type="text"
        class="form-control"
        placeholder="Código Operadora"
        [(ngModel)]="ficha.codOperadora"
        name="codOperadora"
      />

      <input
        type="text"
        class="form-control"
        placeholder="Código CNES"
        [(ngModel)]="ficha.cnes"
        name="cnes"
      />
    </div>

    <div *ngIf="step === 7" class="id-users7 form-group">
      <small> Insira os dados de internação </small>
      <input
        type="text"
        class="form-control"
        placeholder="Data de internação"
        [(ngModel)]="ficha.dataInternacao"
        name="dataInternacao"
      />

      <input
        type="text"
        class="form-control"
        placeholder="Quantidade de diárias"
        [(ngModel)]="ficha.qtdeDiarias"
        name="qtdeDiarias"
      />
    </div>

    <div *ngIf="step === 8" class="id-users4 form-group">
      <small> Insira os dados da consulta</small>
      <input
        type="text"
        class="form-control"
        placeholder="Informações Médicas"
        [(ngModel)]="ficha.medicInfo"
        name="medicInfo"
      />

      <input
        type="text"
        class="form-control"
        placeholder="CID"
        [(ngModel)]="ficha.cid"
        name="cid"
      />
    </div>

    

  

    <button type="submit" class="btn btn-success" *ngIf="step === 10">
      Finalizar
    </button>

    <button
    type="submit"
    class="btn btn-success"
    *ngIf="step <= 9"
    (click)="nextStep()"
  >
    Proximo
  </button>

  <button
    type="submit"
    class="btn btn-dark"
    *ngIf="step > 1"
    (click)="backStep()"
  >
    voltar
  </button>

  </form>

 
</section>
