<section class="container-fluid">
  

  <div class="row">
    <div class="col-7" style="background-color: rgb(240,242,245);">
      <img style="padding-left: 15%; padding-top: 10%; padding-bottom: 10%;" class="w-100" src="../../assets/image.png" alt="unimed-logo">
      <h1 style="text-align: center;">Guia de Internamento</h1>
      <form (ngSubmit)="onSubmit()" style="text-align: center;">
        <p style="padding-bottom: 10%;">Começar é fácil</p>
        <div *ngIf="step === 1" class="id-users form-group" style="background-color: rgba(0, 255, 255, 0);">
          <span>Informe o id de <br> identificação do <br> paciente</span><div class="v-separator"></div>
          <input
            type="text"
            class="form-control"
            placeholder="ID do beneficiário"
            [(ngModel)]="ficha.idBen"
            name="idBen"
            style="margin-top: 10%; margin-bottom: 10%; padding: 6% 8% 6% 8%;"
          />
          <span>Mais informações</span>
        </div>
        <div *ngIf="step === 2" class="id-users2 form-group">
          <input
            type="text"
            class="form-control"
            placeholder="ID do beneficiário"
            [(ngModel)]="ficha.idBen"
            name="idBen"
          />
          <input
            type="text"
            class="form-control"
            placeholder="Nome do beneficiário"
            [(ngModel)]="ficha.nomeBen"
            name="ficha.nomeBen"
          />
          <input
            type="text"
            class="form-control"
            placeholder="CPF do beneficiário"
            [(ngModel)]="ficha.cpf"
            name="cpf"
          />
        </div>
        <div *ngIf="step === 3" class="id-users3 form-group">
          <small> Dados do cooperado </small>
          <input
            type="text"
            class="form-control"
            placeholder="Nº de conselho (Cooperado)"
            [(ngModel)]="ficha.nConselhoC"
            name="nConselhoC"
          />
          <input
            type="text"
            class="form-control"
            placeholder="Nome do procedimento"
            [(ngModel)]="ficha.proced"
            name="proced"
          />
        </div>
        <div *ngIf="step === 4" class="id-users4 form-group">
          <small> dados do paciente </small>
          <input
            type="text"
            class="form-control"
            placeholder="Nº de conselho (Paciente)"
            [(ngModel)]="ficha.nConselhoP"
            name="nConselhoP"
          />
          <input
            type="text"
            class="form-control"
            placeholder="Nome do procedimento"
            [(ngModel)]="ficha.proced"
            name="proced"
          />
          <input
            type="text"
            class="form-control"
            placeholder="Nome do Material"
            [(ngModel)]="ficha.nomeMaterial"
            [(ngModel)]="newNome"
            name="newNome"
          />
          <input
            type="text"
            class="form-control"
            placeholder="Quantidade Material"
            [(ngModel)]="ficha.qtdeMaterial"
            [(ngModel)]="newQtde"
            name="newQtde"
          />
          <button
            name="addMaterial"
            type="button"
            class="btn btn-dark"
            (click)="addMaterial(newNome, newQtde)"
          >
            Adicionar
          </button>
          <div *ngFor="let material of ficha.materiais; let i = index">
            <p>
              {{ material.nome }}
              {{ material.quantidade }}
              <button name="remove" type="button" class="btn btn-danger" (click)="remove(i)">
                remover
              </button>
            </p>
          </div>
        </div>
      
        <button
        type="submit"
        class="btn btn-success"
        *ngIf="step === 4"
          >
          Finalizar
        </button>
      
        <div *ngIf="step === 5">
          <h1>Guia envianda com sucesso!</h1>
          <button
            type="button"
            class="btn btn-success"
            routerLink="/mf-mainpage"
          >
            Realizar um novo atendimento
          </button>
        </div>
        <button
          type="submit"
          class="btn btn-success"
          *ngIf="step <= 3"
          (click)="nextStep()"
        >
          Confirmar
        </button>
        <button
          type="submit"
          class="btn btn-dark"
          *ngIf="step > 1 && step <= 4"
          (click)="backStep()"
        >
          voltar
        </button>
      </form>
    </div>
    <div class="col-5" style="background-color: antiquewhite;">
      a
    </div>
  </div>
</section>
